.container{
    perspective: 800px;
    background: radial-gradient(orange,greenyellow);
    width: 400px;
    height: 400px;
    margin: 0 auto;
    border-radius: 6px;
    position: relative;
}
.iphone-front,
.iphone-end{
    transform-style: preserve-3d;
    backface-visibility: hidden;
    
    width: 200px;
    height: 333px;
    position: absolute;
    top;50%;
    left: 25%;
    right: 50%;
    bottom: 90%
    margin: -166px 0 0 -100px;
    background: url(image/politan.jpg);
    transition: 0.8s;
    
}
.iphone-end{
    transform: rotate(180deg);
    background-position: right center;
}
.container:hover .iphone-front{
    transform: rotate(180deg);
}
.container:hover .iphone-end{
    transform: rotate(360deg)
}