.container div{
    width: 130px;
    height: 130px;
    display: inline-block;
    margin: 2px;
}
#el1{background:linear-gradient(to bottom,yellow,red)}
#el2{background:radial-gradient(red 5%, yellow 15%, green 60%);}
#el3{background:repeating-linear-gradient(red, yellow 10%, green 15%)}
#el4{background:repeating-radial-gradient(red,green 5px,white 5px, white 10px)}  